@media (max-width:991.1px) {
    .padding-gallery{
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media (min-width:992px) {
    .padding-gallery{
        padding-left: 130px;
        padding-right: 130px;
    }
}
@media (max-width:767.1px) {
    .padding-gallery{
        padding-left: 60px;
        padding-right: 60px;
    }
}

/* FOOTER */

.bi-facebook:hover{
    color: #1877F2;
}
.bi-instagram:hover{
    color: #962fbf;
}
.bi-google:hover{
    color: rgb(1, 112, 1);
}
.bi-envelope-plus:hover{
    color: rgb(73, 183, 216);
}
.bi-telephone:hover{
    color: rgb(165, 42, 42);
}